body {
    background-image: url("../images/railway10.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Montserrat, sans-serif;

}

* {
    margin: 0;
    padding: 0;
    text-decoration: 0;
    list-style: none;
    box-sizing: border-box;
    border-style: none;

}

nav {
    background-color: #2f496e;
    height: 80px;
    width: 100%;
    position: fixed;
}

label.heading {
    font-size: 35px;
    padding: 0 40px;
    text-transform: uppercase;
    color: #f4eade;
    line-height: 80px;
    font-weight: 700;
}

nav ul {
    float: right;
    margin-right: 20px;

}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    list-style: none;
}

a {
    color: #f4eade;
    text-decoration: none;
    padding: 10px 15px;
    text-transform: uppercase;
}

nav ul li a:active,
nav ul li a:hover {
    background-color: #f4eade;
    color: #2f496e;
    transition-duration: 0.5s;
    border-bottom-width: 5px;
    border-bottom-color: #2988bc;
    border-bottom-style: solid;
    border-right-width: 5px;
    border-right-color: #2988bc;
    border-right-style: solid;

}

.registration {
    text-align: center;
    padding: 80px;
    margin: auto;
    clear: both;

}

#ui {
    color: #800022;
    font-style: bradley hand itc;
    font-size: 25px;
}

.f {
    border-style: none;
    background-color: #2f496e9f;
    padding: 30px 0px;
    margin: 80px 20%;

}

#l {
    font-size: 2vw;
    color: #f4eade;
    font-weight: 700;
    margin-bottom: 20px;
}

.inp {
    padding: 10px;
    text-align: center;
    margin: 10px;
}

p,
.error,
table {
    font-size: 20px;
    color: #faf3eb;
}

th {
    font-weight: 700;
    text-transform: uppercase;
}

td,
th {
    padding: 5px 40px;
    table-layout: fixed;
    border: solid white 2px;
}

table {
    border: white solid 2px;
    padding: 5px;
    border-collapse: collapse;
}

.table {
    display: flex;
    justify-content: center;
}

.error {
    color: red !important;
    padding: 5px;
}

#payment {
    margin-left: 100px;
}

.btn,
#payment {
    background-color: #2f496e;
    color: #f4eade;
    margin: 20px 5%;
    padding: 10px 20px;
}

input[type=number] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btn:hover,
#payment:hover {
    background-color: #f4eade;
    color: #2f496e;
}

footer {
    background-color: #2f496e;
    color: #f4eade;
    text-align: center;
}

footer a:hover {
    background-color: #f4eade;
    color: #2f496e;
    transition-duration: 0.5s;
    border-bottom-width: 5px;
    border-bottom-color: #2988bc;
    border-bottom-style: solid;
    border-right-width: 5px;
    border-right-color: #2988bc;
    border-right-style: solid;
}