<!DOCTYPE html>
<html>

<head>
    <title>Train E-ticketing</title>
    <link rel="shortcut icon" href="../images/g4.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/style_cancellation.css">
</head>

<body>
    <nav>
        <label class="heading">Train Ticket Booking</label>
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="../view/passenger.html">passenger</a></li>
            <li><a href="../view/TrainStatus.html">Train Status</a></li>
            <li><a href="../view/ContactUs.html">Contact us</a></li>

        </ul>
    </nav>

    <div class="registration">
        <form>
            <fieldset class="f"><label id="l"> TICKET CANCELLATION</label> <br>
                <p>E-Ticket Number <input id="num" type="tel" placeholder="ENTER 10 DIGIT PNR NUMBER" name="eticket" maxlength="10" REQUIRED></p>
                <p> <input id="btn" type="submit" value="CANCEL TICKET" /><a href="../index.html">
                        <input id="btn" type="button" value="BACK" /> </a> </p>
            </fieldset>
        </form>
    </div>
</body>
<footer><br>
    <p>All Rights reserved by <br>Rudraksh Rishabh Yashas<br><br>
    <a href="../view/ContactUs.html">Contact Us</a></p><br>
</footer>
</html>