<!DOCTYPE html>
<html>

<head>
    <title>Train E-Ticketing</title>
    <link rel="shortcut icon" href="../images/g4.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/style_contact.css">
</head>


<body>
    <nav>
        <label class="heading">Contact Us</label>
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="../view/passenger.html">passenger</a></li>
            <li><a href="../view/TrainStatus.html">Train Status</a></li>
            <li><a href="../view/ContactUs.html">Contact us</a></li>

        </ul>
    </nav>
    <div class="registration">
        <fieldset class="f">
            <br>
            <p>Customer Care Numbers : 0755-6610661, 0755-4090600 (Language: Hindi and English)..</p><br>
            <p>
            <pre>
                    For Railway tickets booked through our site:
                    General Information:
                    I-tickets/e-tickets : care@tickets.co.in
                    For Cancellation E-tickets : etickets@tickets.co.in
            </pre>
            </p>
            <br>
            <p><b>
                    <pre>
            Registered Office / Corporate Office
            Indian Railway Catering and Tourism Corporation Ltd.,
            B-148, 11th Floor, Statesman House,
            Barakhamba Road, New Delhi 110001
            </pre></b></p>

            <h4>If you are not able to contct us , provide your deatails below we will contact you ASAP.</h4>

            <div ng-app="">

                <p>Contact details:</p>
                <form name="form">
                    <p>Name : <input id="inp" class="name" type="text" placeholder="Enter name here" required>
                    </p>
                    <p>Email : <input id="inp" type="email" class="mailid" placeholder="Enter email here" required></p>
                    <input id="btn" type="submit" value="Submit" />
                </form>

                <h4 class="message">Thank you for contacting us.</h4>

            </div>
        </fieldset>

    </div>


</body>
<footer><br>
    <p>All Rights reserved by <br>Yuvaraj Javik Sumit <br><br>
        <a href="ContactUs.html">Contact Us</a></p><br>
</footer>

</html>